.niz{
    background-color: white;
    height: 5000px;
    border-radius: 10px 10px 0 0; /* Закругление по верхним углам */
    border: 1px solid #ccc; /* Серый цвет границы */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1), /* Тень снизу */
    2px 0 4px rgba(0,0,0,0.1), /* Тень справа */
    -2px 0 4px rgba(0,0,0,0.1); /* Тень слева */



}
